<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mail sender app</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="info-container">
<h2>contact us here</h2>
<div class="contact-us">
<div class="contact-info">
<h3>surya infotech solutions</h3>
<ul>
<li><i class="fa fa-phone"></i>(555) 444 448</li>
<li><i class="fa fa-envelope"></i>surya@infotech.com</li>
</ul>
</div>
<div class="contact-form">
<h3>mail us</h3>
<form action="send" method="post">
 <p>
<label>name</label>
<input type="text" name="name" placeholder="enter your name">
</p>
<p>
<label>company</label>
<input type="text" name="company" placeholder="enter company name">
</p>
<p>
<label>email</label>
<input type="email" name="email" placeholder="enter your mail">
</p>
<p>
<label>phone number</label>
<input type="number" name="number" placeholder="enter number">
</p>
<p>
<label>message</label>
<textarea name="message" cols="30" rows="10" placeholder="leave  a message"></textarea>
</p>
<button type="submit">submit</button>

</form>
</div>
</div>
</div> 
</body>
</html>